*{
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}
span{
  font-weight: bold;
  pointer-events: none;
}
body{
  background-color: black;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

#map {
  /* position: absolute; */
  /* top: 64px;
  left: 0;
  right: 0; */
  /* bottom: 0; */
  width: 49vw;
  height: 90vh;
  z-index: 1; 
  background-color: rgb(32,32,32);
  margin:5px 0;
}

.mapboxgl-popup {
  max-width: 400px;
  /* font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif; */
}

.mapboxgl-canvas {
  outline: none;
}

.mapboxgl-control-container {
  display: none;
}


.title-container {
  text-align: center;
}

.date {
  background-color: rgb(39,39,39);
  margin: 5px;
  /* padding: 5px; */
  padding: 1vw;
  /* height: 10vh; */
}

.SingleDatePickerInput {
  background-color: transparent;
}

.DateInput {
  background-color: transparent;
}

.DateInput_input {
  background-color: rgb(60,60,60);
  height:2vh;
  color: snow;
  /* border-radius: 10px; */
}

.CalendarMonth strong {
  color: black;
}

.DayPicker small {
  color: #757575;
}

/* #date-selector {
  padding: 0;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: -5px;
  border: 0;
  width: 80%;
  height: 5vh;
} */

.header-container {
  background-color: rgb(27,49,112);
  height: 53px;
}

.header-title {
  display: inline-block;
  margin: 15px;
  font-weight: bold;
}

.header-buttons-container {
  display: inline-block;
  float: right;
}

.header-button-container {
  display: inline-block;
}

.header-button-container:hover {
  cursor: pointer;
  background-color: rgb(47,69,132);
}

.header-button {
  display: inline-block;
  margin: 15px;
  font-weight: bold;
}

.left-column-container{
  display: inline-block;
  vertical-align: top;
  width: 20vw;
  height: 90vh;
}

.total-confirmed {
  /* height: 5vh; */
  background-color: rgb(39,39,39);
  margin: 5px;
  vertical-align: middle;
  padding: 10px;
  
}
.by-country-container{
  background-color: rgb(39,39,39);
  margin: 5px;
}

.by-country-header {
  /* height: 10vh; */
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
}

.location-search {
  background-color: snow;
  outline: none;
  font-size: large;
  color: black;
  margin-top: 5px;
}

.location-search::placeholder {
  padding: 5px;
  color: rgb(150,150,150);
}

.by-country {
  overflow: scroll;
  height: 44.8vh;
  width: auto;
}

.country-button {
  background-color: rgb(39,39,39);
  border-color: black;
  border-top-color: rgb(39, 39, 39);
  width: 20vw;
  height: 35px;
  outline: none;
  font-size: 16px;
}

.country-button-selected {
  background-color: steelblue;
  border-color: black;
  border-top-color: rgb(39, 39, 39);
  width: 20vw;
  height: 35px;
  outline: none;
  font-size: 16px;
}

.country-button:hover {
  background-color: rgb(139,139,139);
}

.country-button:active {
  background-color: rgb(139,139,139);
  transform: translateY(4px);
}

.country-button:disabled {
  background-color: black;
}

.center-column-container {
  display: inline-block;
  vertical-align: top;
  height: 91.5vh;
}

.right-column-container {
  display: inline-block;
  vertical-align: top;
  width: 30vw;
  margin: 5px;
  height: 91.5vh;
}

.dropdown-container {
  background-color: rgb(39,39,39);
  width: 28vw;
  padding-right: 0;
  padding: 1vw;
}

.MuiPaper-root ul {
  background-color: rgb(39,39,39);
}

.graph-title {
  padding: 1vw;
}

.graph-container {
  background-color: rgb(39,39,39);
  width: 30vw;
  margin-top: 5px;
}

.top-subcontainer {
  width: 30vw;
  height: 50vh;
}

.middle-subcontainer {
  position: absolute;
}

.actual-data-title {
  text-align: center;
  font-weight: bold;
  color: snow;
}

.actual-data {
  outline: none;
  border: 3px dotted snow;
  width: 30vw;
  height: 36vh;
}

.bottom-subcontainer {
  width: 30vw;
  height: 20vh;
  overflow: scroll;
}

.about-wrapper {
  position: absolute;
  z-index: 3;
  width: 100vw;
  height: 100vh;
}

.about {
  left: 10vw;
  top:7.5vh;
  
  position: absolute;
  z-index: 4;
  width: 80vw;
  min-height: 85vh;
  border-radius: 5px;
  background-color:snow;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.about-close {
  position: absolute;
  top: 0vh;
  right: 0.2vw;
  z-index: 5;
}

.MuiSvgIcon-root path {
  color: black;
}

.about-close:hover {
  cursor: pointer;
}

.about-description{
  display: inline-block;
  width: 45vw;
  margin: auto;
  
  padding: 2vh 2vw;
  
}

.about-hyperlink {
  color: steelblue;
}

.about-title{
  font-size: 24px;
  color:black;
  text-align: center;
  padding-bottom: 2vh;
  font-weight: bold;
}

.about-text{
  font-size: 16px;
  color:black;
  /* margin: 5px; */
}
.about-colored-text1{
  font-weight: bold;
  color: yellow;
  -webkit-text-stroke: 0.0001px black;
}
.about-colored-text2{
  font-weight: bold;
  color: red;
  -webkit-text-stroke: 0.0001px black;
}
.about-colored-text3{
  font-weight: bold;
  color: blue;
  /* -webkit-text-stroke: 0.0001px black; */
}
.about-colored-text4{
  font-weight: bold;
  color: palevioletred;
  /* -webkit-text-stroke: 0.0001px black; */
}
.about-colored-text5{
  font-weight: bold;
  color: darkcyan;
  /* -webkit-text-stroke: 0.0001px black; */
}

.about-spacer {
  width: 5vw;
  height: 5vh;
}

.about-pic {
  vertical-align: top;
  padding-left: 2vw;
  padding-top: 10vh;
  display: inline-block;
}

.pic-kaggle {
  display: block;
  max-width: 25vw;
  max-height: 50vh;
  border-radius: 10px;
}
.pic-kaggle:hover {
  display: block;
  max-width: 25vw;
  max-height: 50vh;
  border-radius: 10px;
  background-color: black;
  opacity: 0.5;
}

.span-confirmed {
  color: yellow;
}

.span-fatalities {
  color: red;
}
